body > button {
    display: block;
    width: 300px;
    padding: 15px 0;
    background-color: #1E90FF;
    border-radius: 50px;
    border: 2px solid #B22222;
    outline: none;
    margin: 50px auto 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.slider {
    margin: 200px auto 0;
    width: 400px;
}

.slider img {
    max-width: 100%;
    height: auto;
}

.slick-prev, .slick-next {
    background: url('./images/sprite-arrow2.png') no-repeat;
    border: none;
    cursor: pointer;
    height: 49px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    transform: translateY(-50%);
    width: 49px;
    z-index: 1;
    outline: none;
}

.slick-prev {
    background-position: 0 0;
    left: -55px;
}

.slick-prev:hover {
    background-position: 0 -49px;
}

.slick-next {
    background-position: -49px 0;
    right: -55px;
}

.slick-next:hover {
    background-position: -49px -49px;
}